<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
    <div class=container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://th.bing.com/th/id/OIP.pBb3u1GMUBn2rCDSvU77ugHaHa?rs=1&pid=ImgDetMain" width="300" height="300">
        </div>
        <div class="col-md-6">
           <h2>Avengers</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <h4>02.01.2011</h4>
           <h6>Robert Downey Jr.</h6>
            <h6>Marvelous</h6>
        </div>
    </div>
</div>
</body>
</html>